.wpr-contact-details {
    position: relative;
    margin-bottom: 2.5rem;
    padding-left: 40px;
    i {
        position: absolute;
        left: 0;
    }
    p {
        margin-bottom: 0.5rem;
    }
}
