.wpr-contact-details {
    position: relative;
    margin-bottom: 2.5rem;
    padding-left: 40px;
    i {
        position: absolute;
        left: 0;
    }
}

.wpr-icon {
    span {
        display: block;
        margin-bottom: 0.5rem;
        a {
            white-space: nowrap;
        }
    }
}
