header {
    a {
        color: $main-color;
        text-decoration: none;
        &:hover {
            color: $theme-color;
        }
    }
}

.wpr-nav {
    ul {
        list-style-type: none;
        font-size: 0.9em;
        margin: 0;
        text-align: right;
    }
    li {
        text-transform: uppercase;
        margin: 0;
    }
}

.wpr-nav--mobile {
    border-top: 1px solid #E1E1E1;
    li {
        display: inline-block;
        float: left;
        box-sizing: border-box;
        text-align: center;
        border-bottom: 1px solid #E1E1E1;
        padding: 15px;
        width: 50%;
    }
}

.wpr-nav--horizontal {
    display: none;
    li {
        display: inline-block;
        padding: 0 20px;
        &:last-child {
            padding-right: 0;
        }
    }
}

@media screen and (min-width: 550px) {
    .wpr-nav--mobile {
        display: none;
    }
    .wpr-nav--horizontal {
        display: block;
    }
}
