/* Custom utility classes */

/* overall */
.wpr-highlight-box {
    border: 1px solid $main-grey-light;
    border-radius: 4px;
}
.opacity85 { opacity: 0.85; }
.block { display: block; }

/* fonts */
.w700 { font-weight: 700; }
.uppercase { text-transform: uppercase; }

/* text alignment */
.text-center { text-align: center; }
.text-right { text-align: right; }

/* margins */
.m-b-10 { margin-bottom: 10px; }
.m-b-20 { margin-bottom: 20px; }
.m-t-0 { margin-top: 0; }
.m-t-25 { margin-top: 25px; }
.m-t-65 { margin-top: 65px; }
.m-r-5 { margin-right: 5px; }
.m-r-15 { margin-right: 15px; }
.m-v-25 { margin: 25px 0; }

/* paddings */
.p-t-20 { padding-top: 20px; }
.p-v-25 { padding: 25px 0; }
.p-v-50 { padding: 50px 0; }

/* device visibility */
.mobile-hidden,
.phablet-visible,
.tablet-visible,
.desktop-visible {
    display: none;
}

@media screen and (min-width: 550px) {
    .mobile-hidden {
        display: block;
    }
}

@media screen and (min-width: 550px) {
    .mobile-visible {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 750px) {
    .phablet-visible {
        display: block;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
    .tablet-visible {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .desktop-visible {
        display: block;
    }
}
