@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Custom utility classes */
/* fonts */
.w700 {
  font-weight: 700;
}

/* text alignment */
.text-right {
  text-align: right;
}

/* margins */
.m-t-0 {
  margin-top: 0;
}

.m-t-65 {
  margin-top: 65px;
}

/* paddings */
.p-t-20 {
  padding-top: 20px;
}

/* mobile visibility */
.mobile-hidden {
  display: none;
}

@media screen and (min-width: 550px) {
  .mobile-hidden {
    display: block;
  }
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #00401f;
  border-color: #00401f;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #333;
  border-color: #333;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: #333;
}

.wpr-icon i {
  color: #FFF;
}

.wpr-icon a {
  font-weight: 700;
}

.wpr-icon--primary i {
  color: #00401f;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  color: #00401f;
}

.wpr-nav ul {
  list-style-type: none;
  font-size: 0.9em;
  margin: 0;
  text-align: right;
}

.wpr-nav li {
  text-transform: uppercase;
  margin: 0;
}

.wpr-nav--mobile {
  border-top: 1px solid #E1E1E1;
}

.wpr-nav--mobile li {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
  padding: 15px;
  width: 50%;
}

.wpr-nav--horizontal {
  display: none;
}

.wpr-nav--horizontal li {
  display: inline-block;
  padding: 0 20px;
}

.wpr-nav--horizontal li:last-child {
  padding-right: 0;
}

@media screen and (min-width: 550px) {
  .wpr-nav--mobile {
    display: none;
  }
  .wpr-nav--horizontal {
    display: block;
  }
}
