@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Lato", Arial, sans-serif;
  color: #333;
}

/* Custom utility classes */
/* overall */
.opacity85 {
  opacity: 0.85;
}

/* fonts */
.uppercase {
  text-transform: uppercase;
}

/* text alignment */
.text-right {
  text-align: right;
}

/* margins */
.m-t-0 {
  margin-top: 0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-65 {
  margin-top: 65px;
}

/* paddings */
.p-t-20 {
  padding-top: 20px;
}

/* mobile visibility */
.mobile-hidden {
  display: none;
}

@media screen and (min-width: 550px) {
  .mobile-hidden {
    display: block;
  }
}

.wpr-icon i {
  color: #FFF;
}

.wpr-icon a {
  font-weight: 700;
}

.wpr-icon--primary i {
  color: #00401f;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #00401f;
  border-color: #00401f;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #333;
  border-color: #333;
}

a:hover {
  color: #666;
}

section {
  margin-bottom: 35px;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
  text-align: center;
}

section hr {
  margin-top: 15px;
}

header a {
  color: #333;
  text-decoration: none;
}

.wpr-nav ul {
  list-style-type: none;
  font-size: 0.9em;
  margin: 0;
  text-align: right;
  font-weight: 700;
}

.wpr-nav li {
  text-transform: uppercase;
  margin: 0;
}

.wpr-nav--mobile {
  border-top: 1px solid #E1E1E1;
}

@media screen and (min-width: 550px) {
  .wpr-nav--mobile {
    display: none;
  }
}

.wpr-nav--mobile li {
  display: block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
  padding: 15px;
  width: calc(100%/3);
}

.wpr-nav--horizontal {
  display: none;
}

@media screen and (min-width: 550px) {
  .wpr-nav--horizontal {
    display: block;
  }
}

.wpr-nav--horizontal li {
  display: inline-block;
  padding: 0 20px;
}

.wpr-nav--horizontal li:last-child {
  padding-right: 0;
}

.wpr-hero {
  background-image: url("../images/wpr-background-img.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

.wpr-hero--text {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 700;
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  font-size: 1.2em;
}

@media screen and (min-width: 750px) {
  .wpr-hero--text {
    width: 32%;
  }
}

.wpr-hero--text p {
  margin-bottom: 0;
  padding: 5px 0;
}
